body {
  padding:0;
  margin:0;
}

#description {
  line-height:0px;
  font-style:italic;
}

#map {
  top:0px;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
  background:#fff;
}
.info {
  color:#555;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border-radius: 10px;
}
.info h4 {
  margin: 0 0 5px;
  color: #000;
}
.info rank {
  color: #f00;
  font-style:italic;

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
}